# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/dueling-dinosaurs/node_modules
/client/dueling-dinosaurs/.pnp
/client/dueling-dinosaurs/.pnp.js

# testing
/client/dueling-dinosaurs/coverage

# production
/client/dueling-dinosaurs/build

# misc
/client/dueling-dinosaurs/.DS_Store
/client/dueling-dinosaurs/.env.local
/client/dueling-dinosaurs/.env.development.local
/client/dueling-dinosaurs/.env.test.local
/client/dueling-dinosaurs/.env.production.local

/client/dueling-dinosaurs/npm-debug.log*
/client/dueling-dinosaurs/yarn-debug.log*
/client/dueling-dinosaurs/yarn-error.log*

/server/.env
/client/dueling-dinosaurs/.env