:root {
    --primary: #054035;
    --secondary: #e68210;
    --tertiary: #10e685;
    --quarternary: #037070;
    --danger: gray;


}

body{
    background-color: var(--primary);
}

header{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

header div {
    margin: auto;
    color: var(--tertiary);
}

.Prompt-Button {
    margin: auto;
    color: white;
    border-radius: 20%;
    padding: 1%;

}


.HomePage-Buttons{
    background-color: transparent;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;

}

.HomePage-Prompt{
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.HomePage-Prompt div{
    text-align: center;
}

.VotePage-Buttons{
    background-color: transparent;

    position: absolute;
    bottom: 0;
    margin: 1%;
    right: 2rem;

}

.VotePage-Button{
    margin: auto 10%;
}

.Content{}

.Content-text{
    border: 1px solid var(--secondary);
    color: white;
    background-color: var(--quarternary);
}
